media/*

!media/profile.png
!media/banner.jpg
!media/coffeeMachine.jpg
!media/coffeeMachine2.jpg
!media/fruit3.jpg
!media/fruit4.jpg
!media/fruit5.jpg
!media/microwave.jpg
!media/security.jpg
!media/pineapple.jpg
!media/clean.jpg
!media/cleanProfile.png
!media/cleanBanner.jpg
!media/securityBanner.jpg
!media/securityProfile.png
!media/fruitBanner.jpg
!media/fruitProfile.png
!media/applianceBanner.jpg
!media/applianceProfile.png