media/*

!media/profile.png
!media/banner.jpg
!media/images/coffeeMachine.jpg
!media/images/coffeeMachine2.jpg
!media/images/fruit3.jpg
!media/images/fruit4.jpg
!media/images/fruit5.jpg
!media/images/microwave.jpg
!media/images/security.jpg
!media/images/pineapple.jpg
!media/images/clean.jpg
!media/images/cleanProfile.jpg
!media/images/cleanBanner.jpg
!media/images/securityBanner.jpg
!media/images/securityProfile.jpg
!media/images/fruitBanner.jpg
!media/images/fruitProfile.jpg
!media/images/applianceBanner.jpg
!media/images/applianceProfile.jpg